/* Container da Tabela com Scroll e Sombra */
.student-list-container {
    background-color: #1e293b;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

.section-header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 1.5rem; 
}

/* Tabela Customizada (Espaçamento entre linhas) */
.custom-table {
    width: 100%;
    /* Separate permite espaçamento entre as células/linhas */
    border-collapse: separate; 
    border-spacing: 0 1rem; 
}

.custom-table th { 
    text-align: left; 
    color: #ffffff; 
    font-weight: 500; 
    font-size: 0.875rem; 
    padding: 0 1rem; 
}

.custom-table td {
    background-color: #ffffff;
    padding: 1rem;
    /* Bordas apenas em cima e embaixo para criar efeito de "card" na linha */
    border-top: 1px solid #f7fafc;
    border-bottom: 1px solid #f7fafc;
    vertical-align: middle;
}

/* Arredondamento das pontas da linha (Row Radius) */
.custom-table tr td:first-child { 
    border-left: 1px solid #f7fafc; 
    border-top-left-radius: 12px; 
    border-bottom-left-radius: 12px; 
}
.custom-table tr td:last-child { 
    border-right: 1px solid #f7fafc; 
    border-top-right-radius: 12px; 
    border-bottom-right-radius: 12px; 
}

/* Botão de Ação Rápida (Ícone) */
.btn-icon {
    background: #f7fafc; 
    border: 1px solid #e2e8f0;
    width: 36px; 
    height: 36px;
    border-radius: 8px; 
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: all 0.2s;
}
.btn-icon:hover { 
    background: #e2e8f0; 
    border-color: #cbd5e0; 
}/*PEGA PLS*/