/* frontend/styles/base/variables.css */

:root {
    /* =========================================
       TEMA CLARO (LIGHT MODE)
       ========================================= */
    
    /* 1. FUNDO DA PÁGINA (O espaço entre os cards) */
    --bg-body: #f3f4f6;  /* <--- EDITE AQUI (Cor do Fundo Claro) */
    --bg-gradiente: none; 

    /* 2. FUNDO DOS CARDS (Os blocos brancos) */
    --bg-card: rgb(255, 255, 255);
    
    
    /* Outras Variáveis do Tema Claro */
    --text-primary: #1f2937;   /* Cinza Escuro */
    --text-secondary: #3a3d42; /* Cinza Médio */
    --primary-color: #2563eb;  /* Azul Principal */
    --primary-hover: #1d4ed8;
    --border-color: #000000;
    --shadow-color: rgba(255, 0, 0, 0.05);
}

body.dark-mode {
    /* =========================================
       TEMA ESCURO (DARK MODE)
       ========================================= */

    /* 1. FUNDO DA PÁGINA (O espaço entre os cards) */
    --bg-body: #0f172a; /* <--- EDITE AQUI (Cor do Fundo Escuro) */
    --bg-gradiente: none;

    /* 2. FUNDO DOS CARDS */
    --bg-card: #0f172a; /* Cinza Azulado Escuro */
    
    /* Outras Variáveis do Tema Escuro */
    --text-primary: #f3f4f6;
    --text-secondary: #9ca3af;
    --primary-color: #60a5fa;
    --primary-hover: #3b82f6;
    --border-color: #ff0000;
    --shadow-color: rgba(255, 0, 0, 0.5);
}